<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Himpunan Mahasiswa Kimia - Kabinet Cakrawala</title>
  <link href="https://fonts.googleapis.com/css2?family=Gidugu&family=Modern+Antiqua&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="navbar">
        <div class="logo-search">
            <img src="img/logo.png" alt="Logo Kimia" class="logo">
            <input type="text" placeholder="cari.." class="search-box">
        </div>
        <button class="nav-toggle" id="navToggle">&#9776;</button>
        <nav id="nav-menu">
            <ul>
            <li><a href="#home">Beranda</a></li>
            <li><a href="#profil">Profil</a></li>
            <li><a href="#galery">Galeri</a></li>
            <li><a href="#kegiatan">Kegiatan</a></li>
            <li><a href="#kontak">Kontak</a></li>
            </ul>
        </nav>
        </div>
    </header>

    <section class="hero" id="home">
        <div class="overlay"></div>
        <div class="hero-content">
        <h1>HIMPUNAN MAHASISWA KIMIA<br>KABINET <span>CAKRAWALA</span></h1>
        <p>REAKSI BERSATU, KIMIA MAJU, SEMANGAT TAK PERNAH LUNTUR</p>
        </div>
    </section>

    <!-- ===== Profil SECTION ===== -->
    <section class="about-section" id="profil">
        <div class="about-container">
            <div class="about-left">
            <h2 class="title-red center-tittle">THIS IS HIMKA</h2>
            <p>
                HIMA Kimia Universitas Maritim Raja Ali Haji (HIMKA UMRH) dibentuk sebagai organisasi resmi
                yang menaungi seluruh mahasiswa Program Studi Kimia di UMRH. Kehadirannya berawal dari
                kebutuhan mahasiswa untuk memiliki wadah bersama dalam mengembangkan minat dan kompetensi
                di dunia kimia, baik dalam aspek akademik, penelitian, maupun pengabdian kepada masyarakat.
                Sejak berdiri, HIMKA UMRH aktif menyelenggarakan berbagai kegiatan seperti seminar ilmiah,
                pelatihan, kompetisi, hingga kegiatan sosial untuk memperkuat kontribusi mahasiswa dalam
                lingkungan kampus dan masyarakat luas.
            </p>
            <p>
                Dalam perjalanannya, HIMKA UMRH berkembang menjadi organisasi yang solid dengan kepengurusan
                yang terus berkelanjutan setiap periode. Semangat kebersamaan, profesionalitas, dan inovasi
                menjadi nilai utama dalam setiap langkah organisasi, sehingga mampu menghasilkan mahasiswa
                yang unggul dan berkarakter. Dengan dukungan seluruh anggota dan sivitas akademika, HIMKA
                UMRH berkomitmen untuk terus berperan sebagai motor penggerak kemajuan mahasiswa kimia serta
                menjadi bagian penting dalam pembangunan ilmu pengetahuan dan kemaritiman di UMRH.
            </p>
            </div>

            <div class="divider"></div>

            <div class="about-right">
            <h2 class="title-red center-tittle">VISI & MISI</h2>
            <ul>
                <li>
                Menjadikan program studi kimia sebagai pusat kecemerlangan pendidikan tinggi, riset,
                marisociopreneurship dan tamadun maritim di ASEAN.
                </li>
                <li>
                Menyelenggarakan pendidikan dan pengajaran bidang kimia berwawasan kemaritiman di tingkat
                Nasional dan Regional.
                </li>
                <li>
                Menyelenggarakan penerapan kimia berwawasan kemaritiman dalam bentuk pengabdian kepada
                masyarakat melalui kolaborasi dengan stakeholder dan industri di daerah maupun Nasional.
                </li>
                <li>
                Menyelenggarakan aktivitas entrepreneurship dan ventura di bidang kimia berwawasan
                kemaritiman untuk kesejahteraan sosial masyarakat pesisir dan pulau-pulau kecil.
                </li>
            </ul>
            </div>
        </div>
    </section>

    <!-- ===== Leadership & Divisi SECTION ===== -->
    <section class="custom-slider">
        <div class="slider-wrapper">

            <!-- Slide 1: Leadership -->
            <div class="slide active">
                <div class="leader-container">
                    <!-- Ketua -->
                    <div class="leader">
                        <svg viewBox="0 0 650 350" class="arc-svg">
                        <path id="arcPath1" d="M50,280 A280,280 0 0,1 600,280" fill="transparent" />
                        <text font-size="50" font-weight="700" fill="#b02b2b" text-anchor="middle">
                            <textPath href="#arcPath1" startOffset="50%">KETUA UMUM</textPath>
                        </text>
                    </svg>

                        <div class="circle-bg ketua"></div>

                        <div class="leader-name">
                            <span>CARMEN</span>
                        </div>
                    </div>

                    <!-- Wakil Ketua -->
                    <div class="leader">
                        <svg viewBox="0 0 650 350" class="arc-svg">
                            <path id="arcPath2" d="M50,280 A280,280 0 0,1 600,280" fill="transparent" />
                            <text font-size="50" font-weight="700" fill="#b02b2b" text-anchor="middle">
                                <textPath href="#arcPath2" startOffset="50%">W. KETUA UMUM</textPath>
                            </text>
                        </svg>

                        <div class="circle-bg wakil"></div>

                        <div class="leader-name">
                            <span>JUUN</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide 2: Divisi & Tupoksi -->
            <div class="slide">
                <div class="divisi-section">

                    <h1 class="divisi-title">DIVISI DAN TUPOKSI</h1>

                    <div class="divisi-grid">

                        <div class="divisi-card">
                            <h3>SEKRETARIS</h3>
                            <p>Mengelola administrasi organisasi termasuk penyusunan surat menyurat, dokumentasi arsip kegiatan, penyusunan laporan, serta membantu koordinasi internal kepengurusan agar seluruh program kerja dapat berjalan dengan tertib dan terstruktur.</p>
                        </div>

                        <div class="divisi-card">
                            <h3>BENDAHARA</h3>
                            <p>Mengatur keuangan organisasi secara transparan mulai dari anggaran, transaksi hingga laporan keuangan.</p>
                        </div>

                        <div class="divisi-card">
                            <h3>KADERISASI</h3>
                            <p>Merancang dan melaksanakan proses pembentukan kader yang berkualitas melalui kegiatan pembinaan, penguatan karakter anggota, sehingga mampu menciptakan generasi penerus yang loyal, berjiwa kepemimpinan, dan memiliki rasa tanggaungjawab terhadap organisasi</p>
                        </div>

                        <div class="divisi-card">
                            <h3>PSDM</h3>
                            <p>Mengembangkan potensi, keterampilan, serta kualitas diri anggota HIMKA UMRAH melalui program peningkatan kompetensi, pelatihan soft skill, motivasi, dan pemberdayaan mahasiswa untuk mendukung prestasi di bidang akademik maupun organisasi.</p>
                        </div>

                        <div class="divisi-card">
                            <h3>KOMINFO</h3>
                            <p>Mengelola media informasi organisasi, menyebarkan publikasi kegiatan, membangun citra positif HIMKA UMRAH, serta menjaga komunikasi yang efektif antara organisasi dengan mahasiswa, publik, dan pihak eksternal melalui platform digital.</p>
                        </div>

                        <div class="divisi-card">
                            <h3>KEWIRAUSAHAAN</h3>
                            <p>Mengembangkan kreativitas dan kemandirian finansial organisasi melalui perencanaan dan pelaksanaan kegiatan usaha, serta pencarian peluang pendanaan yang inovatif untuk mendukung operasional dan kegiatan HIMKA UMRAH.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- BULLET NAV -->
        <div class="slider-dots">
            <span class="dot active"></span>
            <span class="dot"></span>
        </div>
    </section>

    <section class="galeri-section" id="galery">
        <h1 class="galeri-title">
            <span></span> GALERI HIMKA <span></span>
        </h1>

        <div class="galeri-grid">

            <a href="prestasi/prestasi.html">
                <div class="galeri-card">
                    <div class="corner-shape"></div>
                    <img src="img/galeri1.jpg" alt="">
                <div class="galeri-label">PRESTASI</div>
            </div>
            </a>

            <a href="sosialisasi/sosialisasi.html">
                <div class="galeri-card">
                    <div class="corner-shape"></div>
                    <img src="img/galeri2.jpg" alt="">
                <div class="galeri-label">SOSIALISASI</div>
            </div>
            </a>

            <a href="ramadhan/ramadhan.html">
                <div class="galeri-card">
                    <div class="corner-shape"></div>
                    <img src="img/galeri3.jpg" alt="">
                <div class="galeri-label">RAMADHAN</div>
            </div>
            </a>

            <a href="penjualan/penjualan.html">
                <div class="galeri-card">
                    <div class="corner-shape"></div>
                    <img src="img/galeri4.jpg" alt="">
                <div class="galeri-label">PENJUALAN</div>
            </div>
            </a>

            <a href="programkerja/programkerja.html">
                <div class="galeri-card">
                    <div class="corner-shape"></div>
                    <img src="img/galeri5.jpg" alt="">
                <div class="galeri-label">PROGRAM KERJA</div>
            </div>
            </a>

            <a href="olahraga/olahraga.html">
                <div class="galeri-card">
                    <div class="corner-shape"></div>
                    <img src="img/galeri6.jpg" alt="">
                <div class="galeri-label">OLAHRAGA</div>
            </div>
            </a>

        </div>
    </section>

    <!-- ===== KEGIATAN TERKINI ===== -->
    <section class="kegiatan-section" id="kegiatan">
        <h1 class="kegiatan-title">KEGIATAN TERKINI</h1>

        <div class="kegiatan-container">

            <!-- Card 1 -->
            <div class="kegiatan-card" style="background-image: url('img/kegiatan1.jpg');">
                <div class="tanggal">12 Nov 2025</div>

                <div class="kegiatan-text">
                    <p>
                        HIMKA UMRAH mengadakan kegiatan sosialisasi kepada mahasiswa baru Program Studi Kimia 
                        sebagai langkah awal untuk memperkenalkan dunia perkuliahan, ruang lingkup keilmuan kimia, 
                        dan peran organisasi dalam mendukung perkembangan akademik mahasiswa. Kegiatan ini diisi 
                        dengan pemaparan informasi terkait kurikulum…  
                        <a href="kegiatan/kegiatan1.html">
                            <b>BACA SELENGKAPNYA ›</b>
                        </a>
                    </p>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="kegiatan-card" style="background-image: url('img/kegiatan2.jpg');">
                <div class="tanggal">5 Nov 2025</div>

                <div class="kegiatan-text">
                    <p>
                        Dalam rangka meningkatkan kepedulian terhadap masyarakat sekitar, HIMKA UMRAH melaksanakan 
                        kegiatan bakti sosial berupa pemberian paket kebutuhan pokok kepada warga yang membutuhkan. 
                        Selain pendistribusian bantuan, anggota HIMKA UMRAH juga turut melakukan edukasi sederhana 
                        terkait pentingnya menjaga…  
                        <a href="kegiatan/kegiatan2.html">
                            <b>BACA SELENGKAPNYA ›</b>
                        </a>
                    </p>
                </div>
            </div>

        </div>

        <div class="slide-dots">
            <span class="dot active"></span>
            <span class="dot"></span>
        </div>
    </section>

    <!-- ======= CONTACT SECTION ======= -->
    <section class="contact-section" id="kontak">
        <div class="contact-top-lines">
            <div class="line orange"></div>
            <div class="line grey"></div>
            <div class="line orange short"></div>
        </div>

        <div class="contact-container">

            <!-- FORM (KIRI) -->
            <form class="contact-form">
                <input type="text" placeholder="Nama">
                <input type="email" placeholder="E-Mail">
                <textarea placeholder="Aspirasi.."></textarea>

                <button type="submit" class="btn-kirim">KIRIM</button>
            </form>

            <!-- TEKS KANAN -->
            <div class="contact-text">
                <h1>HUBUNGI KAMI</h1>
                <p>
                    Jangan ragu untuk berbagi ide, keluhan, maupun aspirasi. <br>
                    Mari bersama membangun HIMKA UMRAH<br>
                    yang lebih baik dan bermanfaat  bagi mahasiswa!
                </p>
                <p></p>
            </div>

        </div>
    </section>

    <!-- ========= FOOTER ========= -->
    <footer class="footer">
        <div class="footer-content">

            <a href="https://www.instagram.com/himka.umrah/" target="_blank">
                <span class="material-icons icon">photo_camera</span>
                @himka.umrah
            </a>

            <a href="#">
                <span class="material-icons icon">email</span>
                himkafttkumrah@gmail.com
            </a>

            <a href="https://drive.google.com/drive/folders/12URQuXlb2CeBxN1xayxuaCec0Fz-oY_R?usp=sharing" target="_blank">
                <span class="material-icons icon">link</span>
                bit.ly/BrosurProdiKimia
            </a>

        </div>
    </footer>

    <script script src="js/script.js"></script>
</body>
</html>