/* Background */
body {
  margin: 0;
  padding: 0;
  background: #faebd7;
  font-family: 'Poppins', sans-serif;
}

/* Title */
.title {
  text-align: center;
  color: #b63131;
  font-size: 32px;
  font-weight: 700;
  margin-top: 60px;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card */
.card {
  width: 380px;
  background: white;
  padding: 40px;
  margin-top: 20px;
  border-radius: 60px;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
  text-align: center;
}

/* Logo */
.logo {
  width: 120px;
  display: block;
  margin: 0 auto 20px auto;
}

/* Info text */
.info {
  font-size: 12px;
  color: #333;
  margin-bottom: 20px;
}

/* Button Reset Password */
.btn-reset {
  display: block;
  width: 100%;
  background: #a82424;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 0;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 25px;
}

/* Email text */
.email-text {
  font-size: 12px;
  color: #737373;
  margin-bottom: 30px;
}

.email {
  color: #4e7ad1;
  text-decoration: none;
}

/* Back Button */
.btn-back {
  width: 210px;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 20px;
  background: white;
  color: black;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.btn-back:hover {
  background: #f1f1f1;
}

/* Popup background */
.notif-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Card */
.notif-card {
    width: 420px;
    background: white;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease;
}

.notif-card h2 {
    font-size: 26px;
    font-weight: 700;
    color: #B2332A;
    margin-bottom: 20px;
}

.check-icon {
    width: 70px;
    margin-bottom: 15px;
}

.notif-card p {
    font-size: 14px;
    font-weight: 500;
}

/* Animasi muncul */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
}

/* ===========================
   RESPONSIVE: TABLET
   =========================== */
@media (max-width: 992px) {
  .card {
    width: 320px;
    padding: 30px;
  }

  .title {
    font-size: 28px;
    margin-top: 40px;
  }

  .logo {
    width: 100px;
  }
}

/* ===========================
   RESPONSIVE: HP (Mobile)
   =========================== */
@media (max-width: 400px) {

  body {
    padding: 20px;
  }

  .title {
    font-size: 24px;
  }

  .card {
    width: 100%;
    padding: 25px;
    border-radius: 18px;
  }

  .btn-reset {
    font-size: 12px;
    padding: 12px;
  }

  .btn-back {
    width: 100%;
    padding: 12px 0;
    border-radius: 15px;
    font-size: 14px;
  }
}
