/* Background */
body {
  margin: 0;
  padding: 0;
  background: #faebd7;
  font-family: 'Poppins', sans-serif;
}

/* Title */
.title {
  text-align: center;
  color: #b63131;
  font-size: 32px;
  font-weight: 700;
  margin-top: 60px;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card */
.card {
  width: 380px;
  background: white;
  padding: 40px;
  margin-top: 20px;
  border-radius: 60px;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
  text-align: left;
}

/* Logo */
.logo {
  width: 120px;
  display: block;
  margin: 0 auto 20px auto;
}

/* Label */
label {
  font-size: 12px;
  font-weight: 600;
  padding-left: 6px;
}

/* Input */
input {
  width: 100%;
  padding: 12px 0px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #a82424;
  color: white;
  margin: 5px 0 15px 0;
  font-size: 13px;
  padding-left: 12px;
}

/* Forgot Password */
.forgot {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 20px;
}

.forgot a {
  text-decoration: none;
  font-size: 10px;
  color: #8f8f8f;
}

/* Login Button */
.btn-login {
  width: 130px;
  padding: 10px 0;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  display: block;
  text-align: center;
  color: black;
}

.btn-login:hover {
  background: #f1f1f1;
}

/* ===========================
   RESPONSIVE: TABLET
   =========================== */
@media (max-width: 992px) {
  .card {
    width: 320px;
    padding: 30px;
  }

  .title {
    font-size: 28px;
    margin-top: 40px;
  }

  .logo {
    width: 100px;
  }
}

/* ===========================
   RESPONSIVE: HP (Mobile)
   =========================== */
@media (max-width: 400px) {

  body {
    padding: 20px;
  }

  .title {
    font-size: 24px;
  }

  .card {
    width: 100%;
    padding: 25px;
    border-radius: 18px;
  }

  input {
    padding: 12px 18px;
    font-size: 13px;
  }

  .btn-login {
    width: 100%;
    padding: 12px 0;
    border-radius: 15px;
    font-size: 14px;
  }

  .forgot {
    margin-bottom: 25px;
  }
}
