/* Background */
body {
  margin: 0;
  padding: 0;
  background: #faebd7;
  font-family: 'Poppins', sans-serif;
}

/* Title */
.title {
  text-align: center;
  color: #b63131;
  font-size: 32px;
  font-weight: 700;
  margin-top: 60px;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Card */
.card {
  width: 420px;
  background: white;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
  text-align: center;
}

/* Logo */
.logo {
  width: 110px;
  margin-bottom: 10px;
}

/* Information Text */
.info-text {
  font-size: 12px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.email-link {
  color: #3a6ee8;
  text-decoration: none;
  font-weight: 500;
}

/* OTP Boxes */
.otp-box {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 15px 0 25px 0;
}

.otp-box input {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #b63131;
  color: white;
  font-size: 18px;
  text-align: center;
}

/* Password Input */
label {
  font-size: 12px;
  font-weight: 500;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.password-input {
  width: 100%;
  padding: 12px 0px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #a82424;
  color: white;
  font-size: 13px;
  margin-bottom: 25px;
  padding-left: 12px;
}

/* Button Group */
.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-cancel {
  width: 45%;
  padding: 10px 0;
  border-radius: 20px;
  background: white;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
}

.btn-reset {
  width: 45%;
  padding: 10px 0;
  border-radius: 20px;
  background: #2c2344;
  color: white;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
}

.error-msg {
  color: #d30000;
  font-size: 12px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 20px;
  display: none; /* default hidden */
}

/* ===========================
   Responsive Tablet
=========================== */
@media (max-width: 992px) {
  .card {
    width: 350px;
    padding: 30px;
  }

  .title {
    font-size: 28px;
  }

  .logo {
    width: 90px;
  }
}

/* ===========================
   Responsive Mobile
=========================== */
@media (max-width: 400px) {

  body {
    padding: 20px;
  }

  .title {
    font-size: 26px;
  }

  .card {
    width: 100%;
    padding: 25px;
    border-radius: 20px;
  }

  .otp-box input {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  .btn-cancel,
  .btn-reset {
    width: 48%;
    font-size: 13px;
    padding: 9px 0;
  }
}