<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lupa Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/forgot_password.css">
</head>
<body>

    <div class="container">
        <h1 class="title">LUPA PASSWORD?</h1>

        <div class="card">
            <img src="img/logo.png" class="logo" alt="Logo">

            <p class="info">Untuk reset password, silakan kunjungi link berikut</p>

            <a href="#" class="btn-reset" onclick="showNotif()">KLIK DISINI UNTUK MENGUBAH PASSWORD</a>

            <p class="email-text">
            E-mail anda: <a href="#" class="email">admin@himka.id</a>
            </p>

            <a href="login.html" class="btn-back">KEMBALI KE HALAMAN UTAMA</a>
        </div>
    </div>

    <!-- NOTIFIKASI -->
    <div class="notif-container" id="notifBox">
        <div class="notif-card">
            <h2>TAUTAN BERHASIL DIKIRIM!</h2>
            <img src="https://cdn-icons-png.flaticon.com/512/845/845646.png" class="check-icon">
            <p>Silakan check inbox E-mail anda</p>
        </div>
    </div>
    <script script src="js/forgot_password.js"></script>
</body>
</html>