<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/reset_password.css">
</head>
<body>

    <h1 class="title">RESET PASSWORD</h1>

    <div class="container">
        <div class="card">

        <!-- Logo -->
        <img src="img/logo.png" class="logo" alt="Logo">

        <!-- Text -->
        <p class="info-text">
            Masukkan kode yang telah dikirim ke
            <a href="#" class="email-link">admin@himka.id</a>
        </p>

        <!-- OTP Boxes -->
        <div class="otp-box">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
        </div>

        <!-- OTP Error Message (Hidden at first) -->
        <p id="otp-error" class="error-msg">Kode tidak sesuai!</p>

        <!-- New Password -->
        <label>Password Baru</label>
        <input type="password" placeholder="xxxxxxxxxx" class="password-input">

        <!-- Buttons -->
        <div class="btn-group">
            <a href="login.html" class="btn-cancel">BATAL</a>
            <a href="#" class="btn-reset">RESET</a>
        </div>

        </div>
    </div>
    <script script src="js/reset_password.js"></script>
</body>
</html>