<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HIMKA PEDULI</title>
    <link href="https://fonts.googleapis.com/css2?family=Gidugu&family=Modern+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/kegiatan.css" />
</head>
<body>
    <div class="container">
        <h1>SOSIALISASI</h1>
        <div class="author">Ditulis oleh: Putri Medan, 10 Oktober 2025</div>

        <div class="image-box">
            <img src="../img/kegiatan1.jpg" alt="Sosialisasi" />
        </div>

        <p>
            <span class="dropcap">H</span>IMKA UMRAH mengadakan kegiatan sosialisasi kepada mahasiswa baru Program Studi Kimia sebagai langkah awal untuk memperkenalkan dunia perkuliahan, ruang lingkup keilmuan kimia, dan peran organisasi dalam mendukung perkembangan akademik mahasiswa. Kegiatan ini diisi dengan pemaparan informasi terkait kurikulum
        </p>

        <p>
            
        </p>
    </div>
</body>
</html>