body {
    margin: 0;
    font-family: Arial;
    background: #fff;
}

/* Header */
.header {
    background: #c43131;
    color: #fff;
    padding: 15px 50px;
    display: inline-block;
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* Gallery grid */
.gallery {
    width: 95%;
    margin: 40px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.gallery img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}
